.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
}

.container {
  position: relative;
  padding: 36px;
}

.mainPagecontainer {
  position: relative;
  padding: 36px;
  max-height: 100vh;
  /* display: flex;
  align-items: center;
  height: auto; */
}

.widget1 {
  box-sizing: border-box;
  max-width: 772px;
  border-radius: 36px;
}

.mycontton,
.mycontbit,
.myconteth {
  max-width: 732px;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
  padding: 18px;
  border-radius: 36px;
  border: 1px solid rgb(64, 64, 64);
  transition-duration: 0.35s;
}

.mycontton:hover {
  background: #0098ea15;
}

.mycontbit:hover {
  background: #f7931a15;
}

.myconteth:hover {
  background: #637be915;
}

.divloginbtn {
  margin-top: 1em;
}

.btn-login {
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-right: 0.3em;
  text-decoration: none;
  color: white;
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  border: 1px solid rgb(64, 64, 64);
  transition: 350ms;
}

.btn-login:hover {
  background-color: rgb(128, 128, 128);
  /* color: white; */
}

.logintxt {
  color: white;
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 1em;
}

.input {
  margin-top: 1em;
  text-align: initial;
  display: block;
  outline: none;
  word-break: break-word;
  overflow: visible;
  box-sizing: border-box;
  width: 100%;
  padding: 0.6em;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.07);
  color: rgb(255, 255, 255);
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  transition: 200ms ease;
}

.input:hover {
  border-color: rgb(128, 128, 128);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
}

.input:focus {
  border-color: rgb(128, 128, 128);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.06);
}

.logincard {
  max-width: 512px;
  margin: auto;
  margin-top: 24vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
  padding: 24px;
  border-radius: 36px;
  border: 1px solid rgb(64, 64, 64);
  transition-duration: 0.35s;
}

.card1 {
  max-width: 732px;
  margin: auto;
  z-index: 0;
}

.card2 {
  max-width: 732px;
  margin-left: auto;
  margin-left: auto;
  margin: auto;
  margin-top: 28px;
}

.card3 {
  max-width: 732px;
  margin-left: auto;
  margin-left: auto;
  margin: auto;
  margin-top: 28px;
}

/* .card {
  position: relative;
  z-index: 0;
  border-radius: 36px;
}
.card:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: radial-gradient(
    50em circle at var(--mouseX) var(--mouseY),
    rgba(255, 255, 255, 0.05),
    transparent 50%
  );
  opacity: 0;
  transition: 0.7s;
  border-radius: 36px;
}
.card:hover:after {
  opacity: 1;
  border-radius: 36px;
} */

.btns {
  -webkit-touch-callout: none; /* запрещаю выделять текст на кнопках */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin-top: 36px;
}

.btn-ton,
.btn-bitcoin,
.btn-ethereum {
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-right: 0.3em;
  text-decoration: none;
  color: white;
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  border: 1px solid rgb(64, 64, 64);
  transition: 350ms;
}

.btn-ton:hover {
  color: white;
  background-color: #0098ea;
  border: 1px solid #c8c8c800;
}
.btn-bitcoin:hover {
  color: white;
  background-color: #f7931a;
  border: 1px solid #c8c8c800;
}
.btn-ethereum:hover {
  color: white;
  background-color: #637be9;
  border: 1px solid #c8c8c800;
}

.btn {
  width: 38px;
  height: 38px;
  /* margin-top: 18px;
  margin-right: 18px; */
  float: right;
  z-index: 3;
}

.btn-rld {
  /* margin-top: 18px;
  margin-right: 18px;
  float: right; */
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid rgb(64, 64, 64);
  background: url("src/images/icon-reload.svg");
  background-position: center;
  background-size: 44px 44px;
  background-repeat: no-repeat;
  transition-duration: 0.3s;
}

.btn-rld:hover {
  /* box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); */
  border: 1px solid rgb(90, 90, 90);
  background-size: 48px 48px;
}

.btn-rld:active {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid rgba(64, 64, 64, 0);
  background: url("src/images/icon-reload.svg");
  background-position: center;
  background-size: 40px 40px;
  /* box-shadow: 0px 5px 5px rgba(255, 255, 255, 0); */
}

.crypto-text {
  position: relative;
  text-align: center;
  display: flex;
}

.crypto-name {
  -webkit-touch-callout: none; /* запрещаю выделять текст на кнопках */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0.5em;
}

.price {
  font-family: "Plus+Jakarta+Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #0098ea;
  margin: auto;
  margin-bottom: 0.7em;
}
