<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/src/images/cryptoprice.png" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Crypto Price</title>
    <style>
      body {
        background-color: #101010;
      }
    </style>
  </head>
  <body>
    <div class="mainPagecontainer">
      <div class="logincard">
        <div class="btnlogin">
          <a href="" class="btn-bitcoin">LogIn</a>
        </div>
        <input type="sdfsdfsdfsdf" class="input" />
      </div>
    </div>
  </body>
</html>
